<!-- if it is a index action, look for a folder called home, inside it will look for a file named index. 
#model view controller, place index, place.all in controller, @places . each controller sets up data for the view -->
<h1> birds </h1>
